*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: aliceblue;
    min-height: 100vh;
    .container{
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 40px 0;
        .card{
            position: relative;
            width: 300px;
            height: 400px;
            background: rgba(0,0,0,0.2);
            margin: 20px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            .imgbox{
                img{
                    width: 100%;
                    height: 100vh;
                    object-fit: cover;
                }

            }
            .content{
                position: absolute;
                bottom: -162px;
                width: 100%;
                height: 160px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                z-index: 10;
                transition: bottom 0.5s;
                transition-delay: 0.8s;
                backdrop-filter: blur(15px);
                box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
                border: 1px solid rgba(255,255,255,0.2);
                .txt{
                    h3{
                        color: #fff;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-weight: 500;
                        font-size: 18px;
                        margin: 20px 0 15px;
                        line-height: 1.1em;
                        transition: 0.5s;
                        transform: translateY(-20px);
                        transition-delay: 0.6s;
                        opacity: 0;
                    }
                    span{
                        font-size: 12px;
                        font-weight: 300;
                        text-transform: initial;
                    }
                }
                .sci{
                    position: relative;
                    bottom: 10px;
                    display: flex;
                    li{
                        list-style: none;
                        margin: 0 10px;
                        transform: translateY(40px);
                        transition: 0.5s;
                        opacity: 0;
                        transition-delay: calc(0.2s * var(--i));
                        a{
                            color: #fff;
                            ion-icon{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            &:hover .content{
                bottom: 0px;
                transition-delay: 0s;
            }
            &:hover .content .txt h3{
                transform: translateY(0px);
                opacity: 1;
            }
            &:hover{
                .sci{
                    li{
                        transform: translateY(0px);
                        opacity: 1;
                        color: #fff;
                    }
                }
            }   
        }
        
    }
}